.home{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
nav{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  padding: 10px 30px;
  font-size: 24px;
}
.hero{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  gap: 20px;
  padding: 10px 20px;
}
#tag{
  font-size: 2vmax;
}
.logo{
  cursor: pointer;
}
.cate{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.upImg, .genImg, .chat{
  padding: 10px 20px;
  border: 1.5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}
.upImg svg{
  width: 25px;
  height: 25px;
  color: rgb(46, 224, 49);
}
.genImg svg{
  width: 25px;
  height: 25px;
  color: rgb(19, 161, 218);
}
.chat svg{
  width: 25px;
  height: 25px;
  color: rgb(236, 153, 21);
}

.upImg:hover, .genImg:hover, .chat:hover{
  background-color: rgba(240, 248, 255, 0.100);
}
.input-box{
  width: 100%;
  height: calc(100vh - 80px - 70%);
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0px 20px;
  position: fixed;
  bottom: 0;
  
}
#add,#submit {
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.297);
  border-radius: 50px;
  background-color: rgb(11, 16, 17);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#add svg{
  width: 25px;
  height: 25px;
}
#submit svg {
  width: 20px;
  height: 20px;
}
#genImg{
  color: rgb(19, 161, 218);
}
form input{
  max-width: 60%;
  width: calc(100% - 120px);
  height: 50px;
  background-color: rgb(11, 16, 17);
  border: 2px solid rgba(255, 255, 255, 0.297);
  outline: none;
  border-radius: 30px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}
.chat-page {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
}
.user, .ai {
  width: 90%;
  padding: 10px 20px;
  color: white;
  background-color: rgb(11, 16, 17);
  border: 1.5px solid rgba(255, 255, 255, 0.297);
  border-radius: 20px;
  font-size: 18px;
  display: flex;
align-items: start;
justify-content: center;
flex-direction: column;
gap: 20px;
}
.user img{
  max-width: 200px;
  width: 90%;
  border-radius: 20px;
}
.ai img{
  max-width: 300px;
  width: 90%;
  border-radius: 20px;
  }

.pop-up{
  width: 180px;
  height: 90px;
  position: absolute;
  bottom: 90px;
  left: 15%;
  background-color: rgb(11, 16, 17);
  border: 1.5px solid rgba(255, 255, 255, 0.175);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  padding: 5px;
}
.select-up, .select-gen{
  color: antiquewhite;
  width: 100%;
  padding:  6px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
}
.select-up:hover, .select-gen:hover{
  background-color: rgba(240, 248, 255, 0.100);
}
.select-up svg {
  width: 22px;
  height: 22px;
  color: rgb(46, 224, 49);
}
.select-gen svg{
  width: 22px;
  height: 22px;
  color: rgb(19, 161, 218);
}
#im {
  height: 100px;
  border-radius: 20px;
  position: absolute;
  bottom: 90px;
  left: 15%;
  box-shadow: 2px 2px 10px rgba(0, 0, 255, 0.209);
}

@media (max-width: 500px) {
  #im{
    bottom: 150px;
  }
  #tag {
    font-size: 30px;
  }
}